.mobile-menu__container {
  margin: 0 auto;
  width: 100%;
  padding: 0 0 100px 0;
}

.mobile-menu__dropdown {
  position: sticky;
  margin-bottom: 0;
  padding-bottom: 0;
  top: 0;
  z-index: 1;
}

.mobile-menu__dropdown-btn {
  background-color: dimgray;
  border-radius: unset;
  margin-bottom: 0;
  width: 100%;
}

.mobile-menu__dropdown-menu {
  background-color: rgba(0, 0, 0, 0.8);
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 20px;
  width: 100%;
}

.mobile-menu__dropdown-menu a {
  color: white;
  margin: 0.5% 0;
}

.mobile-menu__dropdown-menu a:hover {
  background-color: rgb(243, 147, 36, 1);
}

